doctype html
html
  head
    title= title
    link(href="/static/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
    link(href="/static/css/page/backstage.css",rel="stylesheet")
    script(src="/static/libs/jquery/dist/jquery.min.js")
    script(src="/static/libs/bootstrap/dist/js/bootstrap.min.js")
  body
    #app
    #name #{userInfo.username} 
    script(src='/javascripts/build.js')
