doctype html
html
  head
    title= title
    link(href="/static/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
    link(href="/static/css/page/backstage.css",rel="stylesheet")
    script(src="/static/libs/jquery/dist/jquery.min.js")
    script(src="/static/libs/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM")
    script(src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js")
    script(src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/hubei.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/anhui.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/aomen.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/beijing.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/chongqing.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/fujian.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/gansu.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/guangdong.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/guangxi.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/guizhou.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/hainan.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/hebei.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/heilongjiang.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/henan.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/hunan.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/jiangsu.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/jiangxi.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/jilin.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/liaoning.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/neimenggu.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/ningxia.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/qinghai.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/shandong.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/shanghai.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/shanxi.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/shanxi1.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/sichuan.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/taiwan.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/tianjin.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/xianggang.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/xinjiang.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/xizang.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/yunnan.js")
    script(src="http://www.echartsjs.com/gallery/vendors/echarts/map/js/province/zhejiang.js")
  body
    #app
    #name #{userInfo.username} 
    script(src='/javascripts/build.js')
